# Archivos de log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Archivos de dependencias
node_modules
jspm_packages
web_modules

# Archivos generados por el build de Maven/Gradle
target/
.mvn/
build/
out/

# Archivos de configuración de IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
